body {
    --bk-color: #f2f2f2;

    background-color:rgb(255, 255, 255);
    background-color: var(--bk-color);

    color: rgba(0, 0, 0, 0.9);
    overflow: auto;
    height: 100%;
}

body > section {
    width: min(100%, 120rem);
    margin-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
}

body > section h1{
    text-transform: uppercase;
    font-size: 2.0rem;
    word-spacing: 0.5rem;
}

/* ---------- header ----------*/

/* ---------- carrossel ----------*/

/*--*/
.custom-shape-divider-top-1669505174 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 2;
}

.custom-shape-divider-top-1669505174 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 60px;
}

.custom-shape-divider-top-1669505174 .shape-fill {
    fill: var(--bk-color);
}

/*--*/

.custom-shape-divider-bottom-1669505293 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: 2;
}

.custom-shape-divider-bottom-1669505293 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 60px;
}

.custom-shape-divider-bottom-1669505293 .shape-fill {
    fill: var(--bk-color);
}

/*--*/

section#carrossel {
    height: 80rem;
    max-height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;
}

section#carrossel:hover .slides {
    opacity: 1;
    filter: brightness(1);
}

.carrossel-about  {
    font-family: ubuntu;
    padding: 2rem;
    border-radius: 2rem;
    z-index: 3;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s 1s;
    filter: drop-shadow(0 0 10px black);
    top: calc(var(--header-height) +  0.2rem);
    transform: translateX(-50%);
}

.carrossel-about h2 {
    z-index: 3;
    padding: 0.5rem 10rem;
    text-align: center;

    background-image: linear-gradient(to right, transparent, red, transparent);
    border-radius: 10rem;
    filter: drop-shadow(0 0 5px black);
    color: white;
    white-space: nowrap;
    font-size: 3rem;
    transition: all 0.3s 1s;
    font-size: 1.6rem;
}

.carrossel-about p {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    padding: 1rem;
    border-radius: 15px / 50%;
    color: whitesmoke;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 1.6rem;
    transition: all 0.3s 1s;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.5);
    word-spacing: 0.2rem;
}

#carrossel img.guirlanda {
    position: absolute;
    width: 5rem;
    top: 0.5rem;
    z-index: 4;
    transform-origin: top;
}

#carrossel img.guirlanda:nth-child(1) {
    left: 0%;
    animation: guirlanda 10s infinite var(--delay) reverse ease-in-out;
}

#carrossel img.guirlanda:nth-child(2) {
    right: 0%;
    animation: guirlanda 10s infinite var(--delay) ease-in-out;
}

@keyframes guirlanda {
    0% {
        transform: rotate(0);
    }
    33% {
        transform: rotate(45deg);
    }
    66% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(0);
    }
}


/* slides */
section#carrossel .slides {
    position: relative;
    height: 100%;
    width: 500%;
    display: flex;
    transition: all 0.5s;
    filter: brightness(0.7);
}

section#carrossel .slide {
    width: 20%;
    transition: 0.5s;
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-shrink: 0;
    gap: 0.2rem;

}

section#carrossel .slides img {
    width: 100%;
    max-width: 25%;
    height: 100%;
    object-fit: cover;
}

#carrossel .slide a {
    position: absolute;
    z-index: 3;
    bottom: 7rem;
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
}

section#carrossel:hover button.receita-name {
    opacity: 1;
}

#carrossel button.receita-name {
    display: flex;
    align-items: center ;
    justify-content: space-evenly;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    color: whitesmoke;
    text-align: center;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    text-shadow: 0 0 10px black;
    font-size: 1.6rem;
    cursor: pointer;
    word-spacing: 0.2rem;
    letter-spacing: 0.1rem;
    transition: all 0.3s;
    font-weight: bold;
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    opacity: 0.5;
}
#carrossel button.receita-name:hover {
    color: var(--primaryColor);
    color: red;
    background-color: whitesmoke;
    text-shadow: none;
}

#carrossel button.receita-name svg {
    height: 2.5rem;
    width: 2.5rem;
    transition: all 0.1s;
}

/* controls */
section#carrossel .controls {
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: min(30rem, 80%);
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    padding: 1rem;
    z-index: 3;
}

section#carrossel .controls button {
    width: 4rem;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    transition: 0.3s;
    border: none;
}

section#carrossel .controls button:hover {
    background-color: rgba(255, 0, 0, 0.5);
    cursor: pointer;
}

section#carrossel .controls button.selected {
    background-color: red;
}

@media screen and (max-width:950px) {

    section#carrossel .slides img {
        width: 100%;
        max-width: 100%;
    }
    section#carrossel .slides img:not(:nth-child(1)) {
        display: none;
    }
}

/* ---------- apresentações ------------------------------------------*/
section#apresentacoes {
    padding: 2rem;
    text-align: center;
    position: relative;
    margin-bottom: 110px;
}

section#apresentacoes h1 {
    width: fit-content;
    margin: auto;

    border-bottom: 3px solid var(--primaryColor);
    font-size: 2.5rem;
    margin-bottom: 4.5rem;
}

section#apresentacoes > p {
    padding: 2rem;
}

section#apresentacoes .cards {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 2rem;
}
section#apresentacoes .cards .card {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    height: 50rem;
    padding: 3rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 12.5px 25px rgba(0, 0, 0, 0.2);
    border-radius: 50px / 15px; 
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* identifier */
section#apresentacoes .card-identifier {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 16rem;
    gap: 1rem;
}

section#apresentacoes .card-identifier .card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: #e8e8e8;
    width: 10rem;
    height: 10rem;
}

section#apresentacoes .card-identifier img {
    width: 50px;
}

section#apresentacoes .cards .card h3 {
    font-size: 2rem;
}

/* text content */
section#apresentacoes .cards .card .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    flex: 1;
}

section#apresentacoes .cards .card p {
    text-align: justify;
    text-align-last: center;
    font-size: 1.6rem;
}
section#apresentacoes .cards .card p span {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    opacity: 0.5;
}
section#apresentacoes .cards .card p img {
    width: 4.5rem;
}

/* button */
section#apresentacoes .cards .card button {
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    background-color: #e8e8e8;
    transition: all 0.3s;
    font-variant: small-caps;
    text-transform: lowercase;
}

section#apresentacoes .cards .card button:hover {
    background-color: #dedede;
}

section#apresentacoes .cards .card button:active {
    background-color: #b1b1b1;
}

/* ---------- new-favorites -------------------------------------------------*/

section#new-favorites {
    height: 60rem;
    position: relative;
    margin-bottom: 110px;
    overflow: hidden;
}

/* background */
#new-favorites .new-favorites-background {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--primaryColor);
    height: 60rem;
    width: 100%;
    width: 1200px;
    position: absolute;

    -webkit-mask-image: url(../images/favorites-background.png);
    mask-image: url(../images/favorites-background.png);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    word-spacing: -20px;
    line-height: 20px;

    pointer-events: none;
    user-select: none;
}

#new-favorites .new-favorites-background > span > span {
    font-size: 7rem;
    transition: all 0.3s;
}

#new-favorites .new-favorites-background > span > span.font-effect-fire-animation {
    opacity: 1;
}

#new-favorites .new-favorites-background > span.superior-esquerdo {
    position: absolute;
    top: 0;
    left: 0;
}

#new-favorites .new-favorites-background > span.inferior-direito {
    position: absolute;
    bottom: 0px;
    right: 0;
    text-align: right;
}

/* content */
#new-favorites {
    position: absolute;
    z-index: 2;
    inset: 0;
    font-family: ubuntu;
}

#new-favorites h2 {
    position: absolute;
    top: 10rem;
    right: 25%;
    transform: translateX(25%);
    font-size: 4rem;
    text-decoration: 5px underline var(--primaryColor);
    color: rgba(0, 0, 0, 0.9);
}

#new-favorites h2::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    background-color: var(--secondColor);
    top: 50%;
    left: 15%;
    transition: all 0.3s;
    opacity: 0.8;
}
#new-favorites h2:hover::before {
    top: 75%;
    left: 22.5%;
}

#new-favorites p {
    position: absolute;
    z-index: 2;
    text-align: center;
    font-size: 2rem;
    max-width: 70%;
}

#new-favorites p:nth-of-type(1) {
    width: 50rem;
    top: 42%;
    right: 38%;
    transform: translate(42%, -38%);

    top: 22rem;
    right: 30%;
    transform: translateX(30%);
}

#new-favorites p:nth-of-type(2) {
    width: 55rem;
    max-width: 70vw;
    transform: translateX(-20%, 0);

    top: 36rem;
    right: 60%;
    transform: translateX(60%);
}

#new-favorites a {
    position: absolute;
    left: 40%;
    bottom: 5rem;
    transform: translate(-40%, 0);
    text-decoration: none;
}

#new-favorites a button {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;

    border: none;
    border-radius: 2rem;
    background-color: transparent;
    font-size: 1.8rem;
    font-variant: small-caps;
    color: rgba(0, 0, 0, 0.9);
    cursor: pointer;
    word-spacing: 0.5rem;
}

#new-favorites a button::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    background-color: var(--secondColor);
    top: 50%;
    left: 15%;
    transition: all 0.3s;
    pointer-events: none;
    opacity: 0.3;
}


#new-favorites a:hover button::before {
    top: 0%;
    left: 0%;
    opacity: 1;
}

#new-favorites a:active button {
    color: whitesmoke;
    transform: none;
}
#new-favorites a:active button::before {
    background-color: var(--primaryColor);
    transition: none;
}

/* ---------- donuts ----------*/
section#donuts {
    width: 100%;
    height: 70rem;
    background-image:
        linear-gradient(to top, rgba(0,0,0,0.6),rgba(0,0,0,0.5)),
        url("../images/hero-donuts.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    word-spacing: 0.5rem;
}

#donuts h1 {
    font-size: 6rem;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

#donuts button {
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    font-weight: bold;
    border: none;
    transition: all 0.3s;
    cursor: pointer;
    border: 2px solid transparent;
}

#donuts button a {
    color: inherit;
    text-decoration: none;
}

#donuts button:hover {
    background-color: #333;
    color: whitesmoke;
    border: 2px solid whitesmoke;
}

/* ---------- sobreConfeitins -------------------------------------------------*/
section#sobreConfeitins {
    display: flex;
    background-color: rgb(245, 245, 245);
    overflow: hidden;
    height: 30rem;
    padding: 1rem;
    height: fit-content;
    border-radius: 6rem;
}

section#sobreConfeitins > div {
    width: 100px;
    width: 50%;
    border-radius: 6rem;
}
section#sobreConfeitins > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
    text-align: justify;
    padding: 5rem;
}


section#sobreConfeitins img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

section#sobreConfeitins h3 {
    text-align: center;
}

section#sobreConfeitins p {
    text-align: center;
}


@media screen and (max-width:950px) {
    section#apresentacoes .cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: fit-content;
    }
    section#apresentacoes .cards .card {
        position: relative;
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: 3rem;
        text-align: center;
        color: rgba(0, 0, 0, 0.8);
        box-shadow: 0 0px 25px rgba(0, 0, 0, 0.1);
        border-radius: 0; 
    }

    section#apresentacoes .cards .card .card-identifier {
        width: 30%;

        min-height: 1.6rem;
        align-items: center;
        justify-content: center;
    }

    section#apresentacoes .cards .card .card-content {
        height: 100%;
        justify-self: space-between;
        align-items: space-evenly;
    }
}