body {
    padding-top: var(--header-height);
    background-size: cover;
    background-position: center;
   
    color: var(--primaryColor);
    overflow: hidden !important;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border: 5px solid #ffffff;
    border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #333;
}

span#background-form {
    position: absolute;
    inset: 0;
    background-image: url(../images/background-form.jpeg);
    background-size: cover;
    background-position: center;
    filter: blur(5px);
}

section.centro {
    font-family: Ubuntu;
    background-color: #ffffff;
    width: 80rem;
    height: calc(100% - 3.5rem - 2rem - 2rem);
    max-height: fit-content;
    max-width: 90%;
    position: relative;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

section.centro h1 {
    text-align: center;
    width: 100%;
    padding: 2rem;
    font-size: 2.4rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70rem;
    max-width: 90%;
    padding: 0rem 2rem 2rem;
    overflow-x: hidden;
    overflow-y: auto;
}

form * {
    font-size: 1.6rem;
}

form span {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    position: relative;
}

form span.linha {
    flex-direction: row;
}

form span.span-sexo {
    display: flex;
    gap: 10px;
}

form span.span-estado-cidade {
    display: flex;
}
form span.span-estado-cidade span {
    flex-shrink: 0;
    width: 50%;
}

form span.span-estado-cidade select:disabled
{
    opacity: 0.3;
    pointer-events: none;
}

form input {
    border: none;
    border-bottom: 3px solid rgba(45, 80, 141, 0.3);
    padding: 0.2rem;
}

form input[required].clicked.invalid:not(:focus),
form input[required].clicked:invalid:not(:focus) {
    border-bottom: 3px solid red;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="number"]:focus { 
    border-bottom: 3px solid var(--primaryColor);   
    outline: none;
}

form select {
    border: 1px solid gray;
    padding: 0.5rem;
    border-radius: 1rem;
}

form textarea {
    padding: 1rem;
    resize: vertical;
    /* border-radius: 1rem; */
    height: 10rem;
    min-height: 10rem;
    overflow-x: hidden;
    overflow-y: auto;
}

form #fmsg-counter {
    position: absolute;
    top: 0;
    right: 0;
    width: fit-content;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.4);
}

form button {
    background-color: #f1e4ac;
    border: none;
    padding: 10px;
    width: 50%;
    align-self: center;
    border-radius: 10px;
    cursor: pointer;
}

form button:hover {
    background-color: var(--secondColor);
}


/* footer */
footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}